<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="khaleejNews" connectionString="Data Source=DESKTOP-19THQ4O;Initial Catalog=Paseparda;Integrated Security=True" providerName="System.Data.SqlClient;" />
    <!--  <add name="khaleejNews" connectionString="Data Source=65.108.97.18;Initial Catalog=aseyem_reportislamabad_db;User ID=user_reportislamabad_db; Password=Dmk5q4~0" providerName="System.Data.SqlClient;"/>-->
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.0" />
  </system.web>
</configuration>
<!--ProjectGuid: 4C535BE4-B43A-4428-94BD-0246140DFF7C-->